* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: "Press Start 2P", system-ui;
}

#start-screen {
    height: 100%;
    width: 100%;

}

.game-name {
   position: relative;
   top: 23%;
   width: 100%;
   line-height: 1.05;
   perspective: 130px;
   user-select: none
}

.layer {
    position: absolute;
    width: 50%;
    left: 25%;
    text-align: center;
    font-size: 60px;
}

.layer.layer1 {
    color: #000000;
    transform: rotateX(-17deg) scaleY(2) translateY(-.21em) translateZ(-.2em)
}

.layer.layer2 {
    color: #e2220d;
    transform: rotateX(-17deg) scaleY(2) translateY(-.14em) translateZ(-.1em);
}

.layer.layer3 {
    color: #ff0;
    transform: rotateX(-17deg) scaleY(2);
    text-shadow: 0 -.05em #000, 0 .05em #000, 0.05em .05em #000, -.05em .05em #000, .05em -.05em #000, -.05em -.05em #000;
}


.start {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
}

#start {
    color: #ff0;
    background: transparent;
    border: 1px solid #ff0;
    padding: 10px 10px;

    font-family: "Press Start 2P", system-ui;
    font-size: 1.2rem;

    cursor: pointer;
    transition: all 0.2s;
}

#start:hover {
    background: #ff0;
    color: #000213;
    transform: scale(1.2);
}

.description {
    position: absolute;
    text-align: center;
    color: #fff;
    line-height: 1.5;

    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.stars, .twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
  }
  
  .stars {
    z-index: -2;
    background: #000213 url(starsky2.0.png) no-repeat top center;
  }
  
  .twinkling {
    z-index: -1;
    background-image: url(twinklingHMv2.png);
    animation: 3s twinkle infinite;
    animation-timing-function: linear;
  }
  
  @keyframes twinkle {
    from {backrgound-position: 0}
    to {background-position: -100px 0}
  }

  #game-screen {
    width: 100vw;
    height: 100vh;
    display: none;
  }

  #game-stats {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
  }

  #game-stats div {
    width: 17%;
    user-select: none
  }

  #game-stats p {
    color: #fff;
    font-size: 22px;
  }

  #enemies-zone {
    width: 100%;
    position: relative;
  }

  .enemies-wrapper {
    top: 40px;
    position: absolute;

    display: grid;
    grid-template-columns: repeat(11, 32px);
    grid-template-rows: repeat(5, 32px);
    gap: 10px
  }


  .enemy {
    height: 32px;
    width: 32px;
  }


  .enemy-1 {
    background: url(enemyType1.png) no-repeat center;
    background-size: cover;
  }
  .enemy-2 {
    background: url(enemyType2.png) no-repeat center;
    background-size: cover; 
  }
  .enemy-3 {
    background: url(enemyType3.png) no-repeat center;
    background-size: cover;
  }

  .enemy-4 {
    background: url(enemyType4.png) no-repeat center;
    background-size: cover;
    height: 64px;
    width: 64px;
    margin-left: 400px;
  }
  #end-screen {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .endscreen-content {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 30px 20px;
  }

  .end-title {
    text-align: center;
    color: #ff0;
    font-size: 40px;
    margin-bottom: 80px;
  }

.endgame-results {
    margin-bottom: 80px;
}

.result-item {
    color: #fff;
    margin-bottom: 30px;
    font-size: 25px;
}

.tryagain-holder {
    text-align: center;
}

#tryagain {
    color: #ff0;
    background: transparent;
    border: 1px solid #ff0;
    padding: 10px 10px;

    font-family: "Press Start 2P", system-ui;
    font-size: 1.2rem;

    cursor: pointer;
    transition: all 0.2s;
}

#tryagain:hover {
    background: #ff0;
    color: #000213;
    transform: scale(1.2);
}




#player {
  position: absolute;
  bottom: 5%;
  left: 48%;
  background: url(pngwing.com.png) no-repeat center;
  height: 64px;
  width: 64px;
}

.bullet {
  position: absolute;
  background: #108a91;
  border: 1px solid #14bcc5;
  border-radius: 2px;
  height: 25px;
  width: 4px;
}